node_modules/
dist/
target/
.DS_Store
*.local
src-tauri/icons/

# server
server/cache/
server/.env
server/cookies.txt
server/ethos.service
server/__pycache__/
server/src/__pycache__/
__pycache__/
src-tauri/binaries/
server/sidecar/build/
server/sidecar/dist/
server/sidecar/target/
